%nav.main-nav
  %div.class-icon-container
    = link_to url_for({ controller: 'home', action: 'index' }) do
      = image_tag('class_icons/druid.jpg', class: 'class-icon')

    = link_to url_for({ controller: 'home', action: 'index' }) do
      = image_tag('class_icons/hunter.jpg', class: 'class-icon')

    = link_to url_for({ controller: 'home', action: 'index' }) do
      = image_tag('class_icons/mage.jpg', class: 'class-icon')

    = link_to url_for({ controller: 'home', action: 'index' }) do
      = image_tag('class_icons/paladin.jpg', class: 'class-icon')

    = link_to url_for({ controller: 'home', action: 'index' }) do
      = image_tag('class_icons/priest.jpg', class: 'class-icon')

    = link_to url_for({ controller: 'home', action: 'index' }) do
      = image_tag('class_icons/rogue.jpg', class: 'class-icon')

    = link_to url_for({ controller: 'home', action: 'index' }) do
      = image_tag('class_icons/shaman.jpg', class: 'class-icon')

    = link_to url_for({ controller: 'home', action: 'index' }) do
      = image_tag('class_icons/warlock.jpg', class: 'class-icon')

    = link_to url_for({ controller: 'home', action: 'index' }) do
      = image_tag('class_icons/warrior.jpg', class: 'class-icon')

    = link_to url_for({ controller: 'home', action: 'index' }) do
      = image_tag('class_icons/neutral.jpg', class: 'class-icon')