!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %title HearthstoneCollection
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Alegreya:400,700&display=swap'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  
  %body
    %div.grid-container
      %header
        = render partial: 'partials/main_nav'
        %div
      
      %main
        = yield

      = render partial: 'partials/decks'       
      
      %div.filters
        = render partial: 'partials/mana_filter'